@font-face {
	font-family: 'Inter';
	src: url('./fonts/Inter-Regular.otf') format('otf'),
		url('./fonts/Inter-Regular.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('./fonts/Inter-Regular.woff') format('woff'),
		/* Pretty Modern Browsers */
		url('./fonts/Inter-Regular.ttf') format('truetype'),
		/* Safari, Android, iOS */
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: rgb(88, 96, 141);
}

.App {
	color: rgb(56, 56, 56);
	height: 100vh;
	width: 100vw;
	display: flex;
	font-family: "Inter", sans-serif;
}

.holder {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

/* LOGO HOLDER */
.logo-holder {
	background-color: #00cba7;
}

.shape {
	position: absolute;
}

.shape--top {
	top: 0;
	left: 0;
	height: 18rem;
}

.shape--bottom {
	bottom: 0;
	right: 0;
}

/* FORM HOLDER */
.form-holder div {
	width: 25rem;
	position: relative;
}

.signup-link {
	margin-bottom: 1.2rem;
	color: #9A9CA1;
	font-size: 0.9rem;
}

.box-label {
	display: block;
	margin-bottom: 0.5rem;
	font-size: 0.75rem;
	color: #3f3f3f;
	line-height: 16px;
}

.input-box {
	width: 100%;
	background: #ffffff;
	border-radius: 4px;
	border: solid #eeeeee 1px;
	padding: 0.7rem;
	margin-bottom: 1rem;
	opacity: 0.7;
}

.input-box:focus {
	border: solid #025c00f0 1px;
}
.input-box:invalid{
	box-shadow: none;
}

button {
	width: 100%;
	padding: 0.75rem;
	color: white;
	border: none;
	border-radius: 4px;
	background: #00cba7;
	margin-top: 1rem;
	cursor: pointer;
}

.checkbox-label {
	margin-left: 0.5rem;
	color: #9A9CA1;
	font-size: 0.75rem;
	position: relative;
	padding-left: 17px;
}

.checkbox-label a {
	text-decoration: none;
}

.checkbox {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
	left: 0;
	top: 0;
	z-index: 10;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 10px;
	width: 10px;
	border: 1px solid #eeeeee;
	background: #ffffff;
	border-radius: 2px;
}

.checkmark:hover {
	border: 1px solid #6765ff;
}

.checkmark::after {
	content: "✓";
	position: absolute;
	display: none;
	color: #00cba7;
	top: -7px;
}
.checkbox-label input:checked ~ .checkmark:after {
	display: block;
  
}
.submit-message{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 2rem 1rem;
	max-width: 20rem;
	border-radius: 4px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
	color: white;
	font-weight: bolder;
	display: none;
}
.submit-success{
	background: #008898c2;
	display: block;
}
.submit-fail{
	background: #f99d9d;
	display: block;
}
.submit-message span{
	position: absolute;
	right: 0;
	top: 0;
	margin: 0.3rem;
	cursor: pointer;
}
.password-toggle{
		cursor: pointer;
		position: absolute;
		right: 1rem;
		top: 1.7rem;
		font-size: 1.5rem;
		opacity: 0.7;
}